---
import Layout from '../../layouts/Layout.astro';
---

<script>
  import htmx from 'htmx.org';

  document.body.addEventListener('htmx:afterSwap', function (event) {
    var main = htmx.find('#main');

    if (main === null) {
      return;
    }

    var response;

    try {
      response = JSON.parse(main!.innerHTML) as any[];
    } catch (_) {}

    if (response === null) {
      return;
    }

    const parent = main.parentElement;

    htmx.remove(main);

    main = document.createElement('div');

    main.setAttribute('class', 'tw-flex tw-flex-col tw-gap-[25vh] tw-p-4');

    parent?.appendChild(main);

    const pageLength = Math.ceil(response!.length / 100.0);

    const pages = [];

    for (var i = 0, j = 0; i < response!.length; i += 1) {
      if (pages.length <= j) {
        pages.push([]);
      }

      (pages[j] as any[]).push(response![i] as any);

      if (pages[j].length >= pageLength) {
        j += 1;
      }
    }

    for (const page of pages) {
      const child = document.createElement('div');

      child.setAttribute(
        'class',
        'tw-p-4 tw-border tw-border-neutral-500 tw-flex tw-flex-col tw-gap-4',
      );

      main.appendChild(child);

      for (const story of page) {
        const grandchild = document.createElement('div');

        grandchild.innerHTML = 'Loading...';

        grandchild.setAttribute(
          'hx-get',
          `https://hacker-news.firebaseio.com/v0/item/${story}.json?print=pretty`,
        );

        grandchild.setAttribute('hx-trigger', `intersect once`);

        grandchild.setAttribute(
          'class',
          'tw-p-4 tw-border tw-border-neutral-500 tw-flex tw-flex-col tw-gap-4',
        );

        child.appendChild(grandchild);

        htmx.process(grandchild!);
      }
    }

    // for (const data of response!) {
    //
    //   child.innerHTML = 'Loading...';
    //
    //   child.setAttribute(
    //     'hx-get',
    //     `https://hacker-news.firebaseio.com/v0/item/${data}.json?print=pretty`,
    //   );
    //   child.setAttribute('hx-trigger', `intersect once`);
    //
    //   main.appendChild(child);
    //
    //   htmx.process(child);
    // }
  });
</script>

<Layout title="HackerNews">
  <div
    id="loading-indicator"
    class="htmx-indicator tw-flex tw-w-full tw-flex-row tw-items-center tw-justify-center tw-p-4"
  >
    <div class="tw-text-center">Loading...</div>
  </div>
  <div
    id="main"
    hx-get="https://hacker-news.firebaseio.com/v0/newstories.json?print=pretty"
    hx-trigger="intersect once"
    hx-indicator="#loading-indicator"
  >
  </div>
</Layout>

<style>
  html {
    background-color: initial;
  }

  .htmx-indicator {
    display: none;
  }

  .htmx-request .htmx-indicator {
    display: inline;
  }

  .htmx-request.htmx-indicator {
    display: inline;
  }
</style>
