---
import Layout from '../../layouts/Layout.astro';
import { createPokemonsElement } from '../../templates/example/createPokemonsElement';
---

<script>
  import htmx from 'htmx.org';

  document.body.addEventListener('htmx:afterSwap', function (event: Event) {
    const { detail } = event as any;

    const { xhr } = detail;

    var response: any;

    try {
      response = JSON.parse(xhr.responseText);
    } catch (_) {}

    const [endpoint] = `${detail.pathInfo.responsePath}`.split('?');

    const [, , resourceType] = endpoint
      .split('/')
      .map((e) => e.trim())
      .filter((e) => e != '');

    switch (resourceType) {
      case 'pokemon':
        const target = htmx.find('#pokemons');

        if (target === null) {
          break;
        }

        const parent = target.parentElement;

        htmx.remove(target);

        if (response === null) {
          break;
        }

        const child = document.createElement('div');
        child.setAttribute('hx-get', '/example/api/pokemons');
        child.setAttribute('hx-vals', JSON.stringify(response));
        child.setAttribute('hx-swap', 'outerHTML');
        child.setAttribute('hx-trigger', 'intersect once');
        child.setAttribute('id', 'pokemons');

        parent?.appendChild(child);

        break;
      default:
        break;
    }

    try {
      htmx.process(htmx.find('#pokemons')!);
    } catch (_) {}
  });
</script>

<Layout title="Pokemon">
  <div class="tw-relative tw-min-h-screen tw-min-w-full tw-overflow-y-auto">
    <div
      class="tw-absolute tw-grid tw-min-h-max tw-w-full tw-grid-cols-6 tw-items-center tw-gap-4 tw-overflow-y-auto tw-p-8 tw-pb-24"
      hx-boost="true"
    >
      <Fragment
        set:html={createPokemonsElement('https://pokeapi.co/api/v2/pokemon')}
      />
    </div>
  </div>
</Layout>

<style>
  html {
    background-color: initial;
  }
</style>
